name: Kubernetes Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
         
      - name: Build Docker image
        run: |
          docker build -t agent-backend:local .

      - name: Verify image
        run: docker images | findstr agent-backend
      - name: Deploy to local Kubernetes
        run: |
           kubectl delete pod agent-backend -n agent-local --ignore-not-found
           kubectl run agent-backend `
             --image=agent-backend:local `
             --port=8000 `
             --env="DATABASE_URL=postgresql://postgres.yifdklzusskuhqvxfhbd:Manoj_gunda@aws-1-us-east-1.pooler.supabase.com:6543/postgres" `
             -n agent-local
